<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New task</h1>

  <%= render "form", task: @task %>

  <div id="tasks" class="min-w-full">
    <% @tasks.each do |task| %>
      <div class="flex my-5">
        <%= render task %>
        <div>
          <%= link_to "Show this task", task, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
