<div>
  <% "dynamic measure time" %>

  <% "list of task" %>
  <% @tasks.each do |task| %>
    <div class: "flex">
      <%= task.name %>
      <%= task.starts_on %>
      <%= task.starts_at %>
      <%= task.ends_at %>
    </div>
  <% end %>
</div>
